<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
</head>
<body>
    <h1>welcome to the items page</h1>
    <h3>items</h3>
    <a href="/">go to home page</a>
    <div class="items">
        <% items.rows.map((item) => { %>
            <div class="item">
              <h3><%= item.name %></h3>
              <!-- Corrected img tag syntax -->
              <img 
                src="public/images/<%= item.image_url %>" 
                width="250" 
                height="250" 
                alt="<%= item.name %>" 
              />
              <p>Description: <%= item.description %></p>
              <p>Price: <%= item.price %></p>
              <h4>category : <%=item.category_name %></h4>
            </div>
         
               <% const item_delete_url = '/items/delete/' + item.id %>
               <form method="post" action= <%= item_delete_url %> >
                    <button type="submit" >delete</button>
                </form>
           </div>

       <% }) %> 

   </div>
</body>
</html>